/*variables utilizadas*/

$bg-screen: 720px;
$sm-screen: 719px;

$color:
rgba(20, 17, 20, 1),
rgba(52, 42, 50, 1), 
rgba(187, 70, 116, 1),
rgba(252, 217, 203, 1); 

$base-wd: 100%;
$base-hg: 100%;

$z-max:1000;
$z-min:-1;
