@import '../mediaqueries';
@import'../variables';

.home{
    @include query (mobile){
        
        height: 70vh !important;
        
        .carousel{
            width: 100vw;
        }

        h1{ 
            position: absolute;
            top:6vh;
            right: 3vw;
            color:#342A32;
            font-family: 'Meddon', cursive;
            white-space: pre-line;
            font-size: 1.5rem;
        }
    }
}